@page
@model RetailShop.Pages.Personal.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Mitarbeiter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mitarbeiter.Name" class="control-label"></label>
                <input asp-for="Mitarbeiter.Name" class="form-control" />
                <span asp-validation-for="Mitarbeiter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mitarbeiter.Vorname" class="control-label"></label>
                <input asp-for="Mitarbeiter.Vorname" class="form-control" />
                <span asp-validation-for="Mitarbeiter.Vorname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mitarbeiter.Geburtstag" class="control-label"></label>
                <input asp-for="Mitarbeiter.Geburtstag" type="date" class="form-control" />
                <span asp-validation-for="Mitarbeiter.Geburtstag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-page="Index">Zurück</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
